## Exercise 2

A satellite has a circular orbit around the Earth with a period $T$. 
  1. [2] Prove that its altitude $h$ above the Earth‘s surface is ($M$ is Earth’s mass and $R$ its radius):
$$h={\left ( \frac{GMT^2}{4\pi^2} \right )}^{1/3} - R$$
(Write the proof in [markdown](https://colab.research.google.com/notebooks/markdown_guide.ipynb) in the notebook, no need to use python).
  2. [2] Write a function to evaluate $h$.
  3. [2] Write a program that requests user input of $T$ and then prints out the altitude in kilometre
  4. [2] Hence find the altitudes of satellites that orbit the Earth once a day (‘geosyn-chronous’ orbit), once every 90 minutes, and once every 45 minutes. What do you conclude from the last of these calculations?

Gravity causes centripetal force Fg = Ms*(V**2/r)

G*M(earth)*M(satellite)/r**2 = M(satellite)*(v**2/r)

'''equation simplified'''

r*v**2 = G*M(Earth)

orbital speed v = ((2*pi*r)/T)

'''sub into equation above'''

r*((2*pi*r)/T)**2 = G*M(Earth)

r***3 = (G*M(Earth)*T**2)/(4*pi**2)

r = ((G*M(Earth)*T**2)**(1/3)/(4*pi**2))

r = R(Earth) + h

h = r - R(Earth)

h = (G*M(Earth)*T**2)**(1/3)/(4*pi**2)) - R

---

In [1]:
%%writefile height.py
import numpy as np
def h(T):
  ''' I have made the value T equal to 86400 seconds/24 hours'''
  G=9.81
  M=5.972*10**24
  R=6371*10**3
  
  return (G*M*T**2)**(1/3)/(4*np.pi**2) - R

Overwriting height.py

In [2]:
import height as ht
print('T', end='')
T = input('How long does the satellite take to orbit earth in seconds');
T=float(T)
print('T/seconds:', T, 'Height /km:', ht.h(T))

THow long does the satellite take to orbit earth in seconds30
T/seconds: 30.0 Height /km: 88613054.04579267

In [3]:
''' height of satellite that orbits earth once a day'''
T = 86400
T=float(T)
print('T/seconds:', T, 'Height /km:', ht.h(T))

T/seconds: 86400.0 Height /km: 19220665927.60199

In [4]:
''' height of satellite that orbits earth every 90 ins'''
T = 5400
T=float(T)
print('T/seconds:', T, 'Height /km:', ht.h(T))

T/seconds: 5400.0 Height /km: 3021697569.0239744

In [5]:
''' height of satellite that orbits earth every 90 ins'''
T = 2700
T=float(T)
print('T/seconds:', T, 'Height /km:', ht.h(T))

T/seconds: 2700.0 Height /km: 1901192665.3191762

In [ ]:
print('the shorter the orbital period the lower the height of the satellite abovbe the earths surface')